/* GLOBAL */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    cursor: url('images/cursor.png') 50 45, pointer;
}

/* WRAPPER */
.wrapper {
    width: 960px;
    height: 540px;
    background-image: url('images/background.png');
    margin: 50px auto;
    position: relative;
}

/* SCORE */
.score {
    position: absolute;
    height: 75.8px;
    width: 5%;
    top: 15px;
    padding: 0 55px;
    overflow: hidden;
}

.worm {
    height: 100%;
}

/* MOLEHILLS */
.molehills {
    position: absolute;
    bottom: 0;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.molehill {
    display: inline-block;
    background-color: #000000;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-left: 55px;
    margin-right: 55px;
    overflow: visible;
    position: relative;
}

.mole {
    position: absolute;
    width: 120%;
    height: auto;
    top: 5px;
    left: -13px;
}

.mole:hover {
    cursor: url('images/cursorworm.png') 50 45, pointer;
}

/* END SCREEN */
.end-screen {
    background-color: #262626;
    height: 540px;
    width: 960px;
    cursor: default;
    position: relative;
}

.end-screen img {
    margin: auto;
    display: block;
    max-height: 100%;
}

.btn {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 60px;
    background-color: #8C3C1F;
    color: #ffffff;
    font-size: larger;
    width: 140px;
    height: 30px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.hidden {
    display: none;
}